extends ../common/layout.pug

block vars
  -var mainPage = false
  -var currentPageTitle = site.catalog.title
  -var currentPageHref = site.catalog.href

block pixelGlass
  +pixelGlass('pg-catalog-mobile.png', 'pg-catalog-tablet.png', 'pg-catalog-desktop.png')

block mainContent
  h1.visually-hidden #{site.catalog.title}

  include ../blocks/products.pug
  include ../blocks/products-extra.pug
