extends ../common/layout.pug

block vars
  -var mainPage = true
  -var currentPageTitle = site.index.title
  -var currentPageHref = site.index.href

block mainContent
  p
    | Репозиторий создан для обучения на профессиональном онлайн‑курсе «
    a(href='https://htmlacademy.ru/intensive/adaptive') HTML и CSS, уровень 2
    | ».
