extends ../common/layout.pug

block vars
  -var mainPage = true
  -var currentPageTitle = site.index.title
  -var currentPageHref = site.index.href

block mainContent
  h1.visually-hidden Функциональное питание для котов Cat Energy

  include ../blocks/tagline.pug
  include ../blocks/features.pug
  include ../blocks/howitworks.pug
  include ../blocks/example.pug
