.advantage {
  background-color: $color-bg-2;
}

.advantage__icon {
  //
}

.advantage__title {
  margin: 0;
  color: $color-text-1;
  font-family: $font-oswald;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

.advantage__desc {
  margin: 0;
}

.advantage__link {
  color: $color-text-1;
  font-family: $font-oswald;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
