.body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  min-width: $width-mobile;
  font-family: $font-arial;
  color: $color-text-1;
  background-color: $color-bg-1;

  // &::after {
  //   @include media-label();
  // }
}
