.button {
  display: block;
  padding: 11px 10px;
  text-align: center;

  color: $color-text-light-1;
  font-family: $font-oswald;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
  background-color: $color-bg-button;
  font-weight: 400;

  @media #{$media-tablet} {
    font-size: 20px;
    padding: 18px 27px;
  }

  &--type2 {
    color: $color-text-4;
    background-color: $color-bg-2;
  }
}
