.container {
  margin: 0 auto;
  padding: 0 $width-padding;

  @media #{$media-tablet} {
    width: $width-tablet;
    padding: 0 $width-padding;
  }

  @media #{$media-desktop} {
    width: $width-desktop;
    padding: 0 $width-padding;
  }

  &--narrow {
    @media #{$media-tablet} {
      width: $width-tablet-form;
      padding: 0 $width-padding;
    }

    @media #{$media-desktop} {
      width: $width-desktop;
      padding: 0 $width-padding;
    }
  }
}
