$example-btn-border-width: 1px;
$example-btn-padding-width: 4px;

.example {
  position: relative;
  background-color: $color-bg-3;

  @media #{$media-tablet} {
    --bg-offset: 605px;
    background-image: linear-gradient($color-bg-1 var(--bg-offset), $color-bg-3 var(--bg-offset));
  }

  @media #{$media-desktop} {
    --bg-offset: 165px;
    background-image: linear-gradient($color-bg-1 var(--bg-offset), $color-bg-2 var(--bg-offset));
  }
}

.example__right-cat-bg {
  @media #{$media-desktop} {
    position: absolute;
    top: var(--bg-offset);
    right: 0;
    bottom: 0;
    left: calc(50% + 325px);
    background-color: $color-bg-3;
  }
}

.example__wrapper-desc-slider {
  margin: 0 auto;
  width: auto;
  padding: 0;

  @media #{$media-desktop} {
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;
  }
}

.example__wrapper-desc {
  margin: 0;

  @media #{$media-desktop} {
    width: 444px;
  }
}

.example__title {
  padding-top: 29px;
  padding-bottom: 35px;

  @media #{$media-tablet} {
    padding-bottom: 64px;
  }

  @media #{$media-desktop} {
    padding-bottom: 76px;
  }
}

.example__desc {
  margin-right: 10px;
  margin-bottom: 25px;

  @media #{$media-tablet} {
    margin-bottom: 53px;
  }

  @media #{$media-desktop} {
    padding-top: 71px;
    margin-bottom: 68px;
  }
}

.example__wrapper-plates-cost {
  @media #{$media-tablet-only} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.example__wrapper-plates {
  margin-bottom: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media #{$media-tablet} {
    width: 366px;
  }

  @media #{$media-desktop} {
    margin-bottom: 52px;
  }
}

.example__wrapper-cost {
  margin-bottom: 33px;
  text-align: center;

  @media #{$media-tablet} {
    text-align: right;
  }

  @media #{$media-desktop} {
    display: flex;
    justify-content: space-between;
    width: 327px;
  }
}

.example__plate {
  width: 44.3%;

  @media #{$media-tablet} {
    width: 162px;
  }
}

.example__cost {
  margin: 0;
  color: $color-text-2;
  font-family: $font-oswald;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  @media #{$media-tablet} {
    display: block;
    font-size: 20px;
    margin-top: 6px;
  }

  @media #{$media-desktop} {
    margin-top: 0;
  }
}

.example__wrapper-slider-cats {
  position: relative;
  padding-bottom: 22px;

  @media #{$media-tablet} {
    padding-top: 592px - $example-btn-border-width - $example-btn-padding-width;
    padding-bottom: 63px - $example-btn-border-width - $example-btn-padding-width;
  }

  @media #{$media-desktop} {
    padding: 0;
  }
}
