.example-plate {
  // outline: 1px solid tomato;
  // width: 124px;
  display: flex;
  flex-direction: column;
}

.example-plate__number {
  margin: 0;
  padding: 15px;
  border: 1px solid $color-border-1;
  border-radius: 3px;
  color: $color-text-2;
  font-family: $font-oswald;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @media #{$media-tablet} {
    font-size: 30px;
    padding: 20px;
  }
}

.example-plate__desc {
  display: flex;
  align-self: center;
  align-items: center;
  margin: 0;
  margin-top: -8px;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 87px;
  min-height: 21px;
  color: #444444;
  background-color: $color-bg-3;
  font-family: $font-arial;
  font-size: 12px;
  line-height: 1;
  text-align: center;

  @media #{$media-tablet} {
    max-width: none;
    background-color: $color-bg-1;
    margin-top: -13px;
    font-size: 14px;
  }

  @media #{$media-desktop} {
    background-color: $color-bg-3;
  }
}
