.example-plate {
  // outline: 1px solid tomato;
  // width: 124px;
  display: flex;
  flex-direction: column;
}

.example-plate__number {
  margin: 0;
  padding: 17px;
  border: 1px solid $color-border;
  border-radius: 3px;
  color: $color-text-2;
  font-family: $font-oswald;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.example-plate__desc {
  display: flex;
  align-self: center;
  align-items: center;
  margin: 0;
  margin-top: -12px;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 87px;
  min-height: 21px;
  color: #444444;
  background-color: $color-bg-2;
  font-family: $font-arial;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
