.footer {
  background-color: $color-bg-2;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;

  @media #{$media-tablet} {
    flex-direction: row;
    padding-top: 49px;
    padding-bottom: 51px;
  }

  @media #{$media-desktop} {
    padding-top: 53px;
    padding-bottom: 52px;
  }
}

.footer__logo {
  padding: 5px;
  text-align: center;
  line-height: 0;
  margin-bottom: 26px;

  @media #{$media-tablet} {
    padding: 5px 0;
    margin: 0;
    margin-right: 18px;
  }
}

.footer__logo[href] .footer__logo-img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__wrapper-socials {
  width: 100%;
  border-top: 1px solid $color-border-2;
  border-bottom: 1px solid $color-border-2;
  padding: 17px 0;
  margin-bottom: 17px;

  @media #{$media-tablet} {
    width: auto;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 136px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer__wrapper-links {
  align-self: stretch;
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;

  @media #{$media-tablet} {
    margin: 0;
  }
}

.footer__socials-link {
  display: block;
  line-height: 0;
  padding: 5px;
}

.footer__academy-link {
  padding: 5px 0;
  color: $color-text-4;
  text-decoration: none;

  &:hover {
    color: $color-green-2;
  }

  &:active {
    color: change-color($color-green-2, $alpha: 0.3);
  }

  @media #{$media-tablet} {
    margin-right: 24px;
  }
}

.footer__academy-img-link {
  display: block;
  line-height: 0;
  padding: 5px 0;
  color: $color-text-5;

  &:hover {
    color: $color-green-2;
  }

  &:active {
    color: change-color($color-green-2, $alpha: 0.3);
  }
}

.footer__socials-img {
  color: $color-text-5;

  &:hover {
    color: $color-green-2;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    width: 23px;
    height: 16px;

    @media #{$media-tablet} {
      width: 30px;
      height: 22px;
    }
  }

  &--insta {
    width: 16px;
    height: 16px;

    @media #{$media-tablet} {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 10px;
    height: 18px;

    @media #{$media-tablet} {
      width: 13px;
      height: 27px;
    }
  }
}
