.form-checkbox {
  //
}

.form-checkbox__text {
  color: $color-text-1;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-checkbox__input {
  //
}
