.form-text {
  display: flex;
  align-items: center;
  color: $color-text-4;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-text__text {
  margin-right: 14px;
  flex-shrink: 0;
}

.form-text__input {
  flex-grow: 1;
  min-width: 5em;

  padding: 13px 15px;
  border: 1px solid $color-border-3;
  color: $color-text-4;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
