.form-text {
  display: flex;
  align-items: center;
}

.form-text__text {
  color: $color-text-4;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-text__input {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid $color-border-3;
  color: $color-text-4;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
