.heading-big {
  margin: 0;
  padding-top: 20px;
  font-family: $font-oswald;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: $color-text-2;

  @media #{$media-tablet} {
    font-size: 60px;
  }
}
