.header {
  color: $color-text-1;

  &--green {
    @media #{$media-desktop} {
      .menu__link {
        color: $color-text-light-1;
        border-color: $color-text-light-1;

        &[href]:hover {
          text-shadow: none;
        }
      }
    }
  }
}
