.howitworks {
  //
}

.howitworks__title {
  margin: 0;
}

.howitworks__desc {
  margin: 0;
}

.howitworks__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;

  @media #{$media-tablet} {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media #{$media-desktop} {
    grid-template-columns: repeat(4, 1fr);
  }
}

.howitworks__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    min-width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $color-bg-button;
    background-position: center;
  }

  &--leaf::before {
    background-image: url(#{$path-images}advantage-leaf@1x.png);
  }

  &--powder::before {
    background-image: url(#{$path-images}advantage-powder@1x.png);
  }

  &--dining::before {
    background-image: url(#{$path-images}advantage-dining@1x.png);
  }

  &--clock::before {
    background-image: url(#{$path-images}advantage-clock@1x.png);
  }
}
