.menu {
  margin: 0;
  list-style: none;
  padding: 0;

  @media #{$media-tablet} {
    display: flex;
  }
}

.menu__link {
  display: block;
  padding: 21px $width-padding;
  border-bottom: 1px solid $color-border-3;
  color: $color-text-1;
  font-family: $font-oswald;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;

  &[href]:hover {
    opacity: 0.6;
    text-shadow: 0 4px 4px change-color($color-text-1, $alpha: 0.25);
  }

  &[href]:active {
    opacity: 0.3;
    text-shadow: none;
  }
}
