.nav {
  @media #{$media-tablet} {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: $width-tablet;
    padding: 4px $width-padding-mobile;
    margin: 0 auto;
    margin-top: 20px;
  }

  @media #{$media-desktop} {
    width: $width-desktop;
    margin-top: 48px;
    align-items: center;
  }
}

.nav__wrapper {
  border-bottom: 1px solid $color-border-3;
  display: flex;
  justify-content: space-between;

  @media #{$media-tablet} {
    border: none;
  }
}

.nav__logo-link {
  line-height: 0;
  padding: 0 $width-padding-mobile;
  padding-top: 11px;
  padding-bottom: 16px;
  text-decoration: none;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media #{$media-tablet} {
    padding: 0;
  }
}

.nav__logo-img {
  width: 191px;

  @media #{$media-tablet} {
    width: 174px;
  }

  @media #{$media-desktop} {
    width: 202px;
  }
}

// ----------------- кнопка -----------------
.nav__toggle {
  display: none;
}

@media #{$media-mobile-only} {
  .nav__toggle {
    display: block;
    position: relative;
    width: 24px + $width-padding-mobile * 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .nav--closed .nav__toggle {
    &::before {
      position: absolute;
      content: "";
      top: 24px;
      left: $width-padding-mobile;
      right: $width-padding-mobile;
      height: 2px;
      background-color: $color-text-1;
      box-shadow: 0 8px 0 0 $color-text-1, 0 16px 0 0 $color-text-1;
    }
  }

  .nav--opened .nav__toggle {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 32px;
      left: $width-padding-mobile;
      right: $width-padding-mobile;
      height: 2px;
      background-color: $color-text-1;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .no-js .nav__toggle {
    display: none;
  }

  .nav--closed .menu__link {
    display: none;
  }

  .no-js .menu__link {
    display: block;
  }
}

.nav__menu {
  @media #{$media-desktop} {
    margin-top: 8px;
  }
}
