.product {
  //
}

.products__title {
  margin: 0;
}

.product__img {
  vertical-align: bottom;
}

.product__title {
  margin: 0;
  color: $color-text-3;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__properties {
  margin: 0;
}

.product__properties-row {
  display: flex;
}

.product__properties-item {
  margin: 0;
  color: $color-text-4;
  font-family: $font-arial;
  font-weight: 400;
  font-size: 12px;
}
