.product-extra {
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 30%;
  grid-template-areas:
    "title title"
    "quantity price"
    "button button";

  @media #{$media-tablet} {
    grid-template-columns: 50% auto 14.7%;
    grid-template-areas:
      "title quantity price"
      "button button button";
  }

  @media #{$media-desktop} {
    grid-template-columns: 36% 27.5% 9.2% auto;
    grid-template-areas: "title quantity price button";
  }
}

.product-extra__title {
  grid-area: title;
  margin: 0;
  margin-bottom: 11px;
  color: $color-text-3;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media #{$media-tablet} {
    font-size: 20px;
    margin-bottom: 24px;
  }

  @media #{$media-desktop} {
    margin-bottom: 0;
  }
}

.product-extra__quantity {
  grid-area: quantity;
  margin: 0;
  margin-bottom: 13px;
  color: $color-text-4;
  font-size: 14px;

  @media #{$media-tablet} {
    text-align: right;
    margin-bottom: 0;
    font-size: 16px;
  }

  @media #{$media-desktop} {
    text-align: left;
  }
}

.product-extra__price {
  grid-area: price;
  margin: 0;
  color: $color-text-4;
  font-size: 14px;
  text-align: right;

  @media #{$media-tablet} {
    font-size: 16px;
  }

  @media #{$media-desktop} {
    text-align: left;
  }
}

.product-extra__button {
  grid-area: button;
}
