.products-extra {
  //
}

.products-extra__title {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;

  @media #{$media-tablet} {
    margin-top: 68px;
    margin-bottom: 80px;
  }

  @media #{$media-desktop} {
    margin-top: 77px;
    margin-bottom: 78px;
  }

  &::before {
    content: "";
    margin-right: 20px;

    @media #{$media-tablet} {
      padding: 4px 0;
      border-bottom: 2px solid #68b738;
      margin-right: 37px;
      width: calc((100vw - #{$width-tablet}) / 2);
    }

    @media #{$media-desktop} {
      margin-right: 40px;
      width: calc((100vw - #{$width-desktop}) / 2 - 40px);
    }
  }

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 22px;
    padding: 4px 0;
    border-bottom: 2px solid #68b738;

    @media #{$media-tablet} {
      margin-left: 35px;
    }
  }
}

.products-extra__wrapper {
  @media #{$media-desktop} {
    display: grid;
    grid-template-columns: auto 20%;
    gap: 80px;
  }
}

.products-extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-extra__item {
  padding: 15px 0;
  border-top: 1px solid $color-border-1;

  &:last-child {
    border-bottom: 1px solid $color-border-1;
  }
}

.products-extra__item-order-all {
  @media #{$media-desktop} {
    display: flex;
  }
}
