.products {
  //
}

.products__wrapper-title {
  margin: 0;
  margin-top: 27px;
  padding-bottom: 40px;
  border-bottom: 1px solid $color-border-3;

  @media #{$media-tablet} {
    margin-top: 61px;
    padding-bottom: 84px;
    border-bottom: none;
  }

  @media #{$media-desktop} {
    margin-top: 75px;
    padding-bottom: 85px;
  }
}

.products__wrapper-item {
  @include outline();
  margin: 0 auto;

  width: $width-mobile;
  padding: 0 $width-padding;

  @media #{$media-tablet} {
    width: auto;
    padding: 0;
  }

  @media #{$media-desktop} {
    // width: $width-desktop;
    // padding: 0 $width-padding;
  }
}

.products__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media #{$media-tablet} {
    width: $width-tablet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media #{$media-desktop} {
    width: $width-desktop;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.products__item {
  @include outline(tomato);
  padding-bottom: 24px;
  border-bottom: 1px solid $color-border-3;

  @media #{$media-tablet} {
    border-bottom: none;
    padding: 0;
  }
}
