.products-extra {
  //
}

.products-extra__title {
  margin: 0;
}

.products-extra__wrapper {
  @media #{$media-desktop} {
    display: grid;
    grid-template-columns: auto 20%;
    gap: 80px;
  }
}

.products-extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-extra__item {
  padding: 15px 0;
  border-top: 1px solid $color-border-1;
  &:last-child {
    border-bottom: 1px solid $color-border-1;
  }
}

.products-extra__item-order-all {
  @media #{$media-desktop} {
    display: flex;
  }
}
