.products {
  //
}

.products__title {
  margin: 0;
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media #{$media-tablet} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media #{$media-desktop} {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.products__item {
  //
}
