.products {
  //
}

.products__wrapper-title {
  margin: 0;
  margin-top: 27px;
  padding-bottom: 40px;
  border-bottom: 1px solid $color-border-3;

  @media #{$media-tablet} {
    margin-top: 61px;
    padding-bottom: 83px;
    border-bottom: none;
  }

  @media #{$media-desktop} {
    margin-top: 72px;
    padding-bottom: 85px;
  }
}

.products__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media #{$media-tablet} {
    width: $width-tablet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
    column-gap: 60px;
  }

  @media #{$media-desktop} {
    width: $width-desktop;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
    column-gap: 80px;
  }
}

.products__item {
  padding: 0 $width-padding-mobile;
  padding-bottom: 24px;
  border-bottom: 1px solid $color-border-3;

  @media #{$media-tablet} {
    border-bottom: none;
    padding: 0;
    display: grid;
  }
}
