.slider-cats {
  //
}

.slider-cats__btn {
  color: $color-text-2;
  font-family: $font-oswald;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: $example-btn-padding-width + $example-btn-border-width 0;

  &:hover {
    padding-bottom: $example-btn-padding-width;
    border-bottom: $example-btn-border-width solid change-color($color: $color-text-1, $alpha: 0.24);
  }

  &:active {
    padding-bottom: $example-btn-padding-width + $example-btn-border-width;
    border-bottom: none;
  }

  @media #{$media-tablet} {
    font-size: 20px;
    padding-top: $example-btn-padding-width + $example-btn-border-width;
    padding-bottom: $example-btn-padding-width;
    border-bottom: $example-btn-border-width dotted change-color($color: $color-text-1, $alpha: 0.24);
  }
}

.slider-cats__wrapper-buttons {
  margin: 0 auto;
  padding-bottom: 10px;
  width: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$media-tablet} {
    width: 570px;
  }

  @media #{$media-desktop} {
    padding-top: 527px;
  }
}

.slider-cats__range {
  @media #{$media-tablet} {
    position: relative;
    width: 428px;
    height: 6px;
    background-color: $color-border-2;
    border-radius: 6px;
  }
}

.slider-cats__handle {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid $color-border-1;
  border-radius: 6px;
  background-color: $color-bg-1;

  @media #{$media-tablet} {
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 17px);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border-color: $color-green-2;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.slider-cats__point {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: $color-green-2;

  @media #{$media-tablet} {
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.slider-cats__image {
  margin-bottom: 28px;
  margin-left: -$width-padding-mobile;
  margin-right: -$width-padding-mobile;
  text-align: center;

  @media #{$media-tablet} {
    position: absolute;
    margin-bottom: 0;
    bottom: 114px;

    &--left {
      left: 36px;
      width: 47.9%;
    }

    &--right {
      right: 22px;
      width: 49.7%;
    }
  }

  @media #{$media-desktop} {
    bottom: auto;
    top: -24px;

    &--left {
      left: -60px;
      width: 64.1%;
    }

    &--right {
      right: -20px;
      width: 57%;
    }
  }

  &--hidden-mobile {
    @media #{$media-mobile-only} {
      display: none;
    }
  }
}

.slider-cats__img {
  vertical-align: bottom;
  object-fit: none;
  width: auto;
  height: 100%;

  &--left {
    object-position: left top;
  }

  &--right {
    object-position: right top;
  }
}
