.tagline {
  background-image: url(#{$path-images}index-background-mobile@1x.jpg),
    linear-gradient($color-bg-1, $color-bg-1);
  background-color: $color-bg-green-1;
  background-position: center top, 0 306px;
  background-repeat: no-repeat, no-repeat;
}

.tagline__title {
  margin: 0;
}

.tagline__desc {
  margin: 0;
  color: $color-text-light-1;
  font-family: $font-oswald;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
}

.tagline__img {
  vertical-align: bottom;
}
