$shift-mobile-img: -139px;

.tagline {
  @media #{$media-desktop} {
    min-height: 578px;
    position: relative;
    margin-bottom: 82px;
  }
}

.tagline__wrapper-desktop-bg {
  @media #{$media-desktop} {
    position: absolute;
    top: -118px;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: $color-green-1;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 720px auto;
    z-index: -1;
    background-image: url(#{$path-images}index-background-desktop@1x.jpg);

    @media #{$media-2x} {
      background-image: url(#{$path-images}index-background-desktop@2x.jpg);
    }
  }
}

.tagline__wrapper-horizontal {
  margin: 0 auto;
  position: relative;

  @media #{$media-tablet} {
    width: $width-tablet;
  }

  @media #{$media-desktop} {
    width: $width-desktop;
  }
}

.tagline__wrapper-title-desc {
  background-color: $color-green-1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom: -$shift-mobile-img;
  background-image: url(#{$path-images}index-background-mobile@1x.jpg);

  @media #{$media-2x} {
    background-image: url(#{$path-images}index-background-mobile@2x.jpg);
  }

  @media #{$media-tablet} {
    padding-top: 60px;
    padding-bottom: 0;
    background-color: transparent;
    background-image: none;
  }

  @media #{$media-desktop} {
    padding-top: 107px;
  }
}

.tagline__wrapper-img-button {
  margin: 0 auto;
  position: relative;
  padding: 0 $width-padding;
  padding-bottom: 22px;
  text-align: center;

  @media #{$media-tablet} {
    padding: 0;
  }

  @media #{$media-desktop} {
    position: static;
    text-align: left;
    padding-bottom: 22px;
  }
}

.tagline__title {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 26px;
  color: $color-text-light-1;
  text-align: center;

  @media #{$media-tablet} {
    margin-left: 87px;
    margin-bottom: 41px;
    max-width: 420px;
    color: $color-text-1;
    text-align: left;
  }

  @media #{$media-desktop} {
    margin-left: 80px;
  }
}

.tagline__desc {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 27px;
  color: $color-text-light-1;
  font-family: $font-oswald;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;

  @media #{$media-tablet} {
    color: $color-text-1;
    margin-left: 87px;
    margin-bottom: 16px;
    max-width: 420px;
    text-align: left;
    font-size: 20px;
  }

  @media #{$media-desktop} {
    margin-left: 80px;
    margin-bottom: 51px;
  }
}

.tagline__img {
  vertical-align: bottom;
  margin-top: $shift-mobile-img;
  margin-bottom: 3px;
  width: 280px;

  @media #{$media-tablet} {
    margin-top: 5px;
    margin-bottom: 0;
    width: 709px;
  }

  @media #{$media-desktop} {
    position: absolute;
    margin-top: 2px;
    margin-bottom: 0;
    width: 552px;
    top: 23px;
    left: 448px;
  }
}

.tagline__button {
  @media #{$media-tablet} {
    position: absolute;
    top: 33px;
    left: 82px;
  }

  @media #{$media-desktop} {
    position: static;
    display: inline-block;
    margin-left: 80px;
  }
}
