@mixin container {
  display: flex;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gapSm;
  padding-left: $gapSm;
  @media #{$media-lg} {
    max-width: $width-xl;
  }
}
