//Шрифты
$font-arial: arial, sans-serif;
$font-oswald: "Oswald", arial, sans-serif;

//Цвета
$color-text-1: #000000;
$color-text-2: #111111;
$color-text-3: #222222;
$color-text-4: #444444;
$color-text-5: #666666;
$color-text-light-1: #ffffff;

$color-bg-1: #ffffff;
$color-bg-2: #f2f2f2;
$color-bg-3: #eaeaea;

$color-green-1: #64a83b;
$color-green-2: #68b738;
$color-green-3: #5eaa2f;

$color-border-1: #cdcdcd;
$color-border-2: #d9d9d9;
$color-border-3: #e7e7e7;
$color-border-4: #bababa;

$color-error-1: #ff8282;

//Размеры
$width-mobile: 280px;
$width-tablet: 708px;
$width-tablet-form: 630px;
$width-desktop: 1220px;
$width-padding-mobile: 20px;
$width-padding-tablet: 20px;
$width-padding-desktop: 40px;
$width-scrollbar: 20px;

//Медиа
$media-mobile: "screen and (min-width: #{$width-mobile + $width-padding-mobile * 2 + $width-scrollbar})";
$media-tablet: "screen and (min-width: #{$width-tablet + $width-padding-tablet * 2 + $width-scrollbar})";
$media-desktop: "screen and (min-width: #{$width-desktop + $width-padding-desktop * 2 + $width-scrollbar})";
$media-mobile-only: "screen and (max-width: #{$width-tablet + $width-padding-mobile * 2 + $width-scrollbar - 1})";
$media-tablet-only: "screen and (min-width: #{$width-tablet + $width-padding-tablet * 2 + $width-scrollbar}) and (max-width: #{$width-desktop + $width-padding-desktop * 2 + $width-scrollbar - 1})";
$media-2x: "screen and (min-resolution: 2dppx)";

//Пути
$path-images: "../img/";
