block head
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    each font in head.fonts
      link(rel="preload" href=`fonts/${font.name}.woff2` as="font")
    each stylesheet in head.stylesheets
      link(rel="stylesheet" href=`css/${stylesheet.name}.min.css`)
    link(rel='apple-touch-icon' sizes='180x180' href='img/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='img/favicon-16x16.png')

    title #{currentPageTitle}
