doctype html
block vars
html.no-js(lang='ru')
  include mixin.pug
  head
    include head.pug
    block pixelGlass
  body.body
    include ../blocks/header.pug
    main
      block mainContent
      include ../blocks/cooperation.pug
    include ../blocks/footer.pug
    script(src=`${path.js}script.min.js`)
