doctype html
block vars
html(lang="ru")
  include mixin.pug
  include head.pug
  body
    include svg.pug
    include ../blocks/header.pug
    main
      block mainContent
    include ../blocks/footer.pug
    script(src=`${dirs.js}script.min.js`)
