section.advertisement
  h2.advertisement__title Функциональное питание для котов
  p.advertisement__subtitle Занялся собой? Займись котом!
  a.advertisement__subtitle.button(href=site.form.href) Подобрать программу
