section.advertisement
  h2.advertisement__title.heading-big Функциональное питание для котов
  p.advertisement__desc Занялся собой? Займись котом!
  +button-type1('Подобрать программу', site.form.href).advertisement__button
