section.cooperation(class=currentPageHref==="index.html" ? null : 'cooperation--bg')
  h2.cooperation__title Приглашаем к сотрудничеству дилеров
  address.cooperation__address ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
  a.cooperation__map-link(href='#')
    img.cooperation__map-img(src=`${path.images}bg-map-mobile@1x.png` width='320' height='400' alt='Большая Конюшенная, 19/8')
