section.cooperation(class=currentPageHref==="index.html" ? null : 'cooperation--bg')
  .container
    .cooperation__wrapper
      h2.cooperation__title Приглашаем к&nbsp;сотрудничеству дилеров!
      address.cooperation__address ул. Большая Конюшенная, д. 19/8
        span.cooperation__address-city Санкт-Петербург

  .cooperation__wrapper-map
    iframe.cooperation__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4234.828814742169!2d30.320110179856925!3d59.93922640595866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2sBolshaya%20Konyushennaya%20St%2C%2019%2F8%2C%20Sankt-Peterburg%2C%20191186!5e0!3m2!1sen!2sru!4v1595161310637!5m2!1sen!2sru' width='320' height='362' allowfullscreen='' aria-hidden='false' tabindex='0')
