section.cooperation
  h2.cooperation__title Приглашаем к сотрудничеству дилеров
  address.cooperation__address ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
  a.cooperation__map-link(href='#')
    img(src=`${dirs.images}map.png` width='' height='' alt='Большая Конюшенная, 19/8')
