section.example

  .example__wrapper-title
    .container
      h2.example__title.heading-big Живой пример

  .example__wrapper-desc-bg
    .example__wrapper-desc-cat
      .example__wrapper-desc
        p.example__desc.paragraph.
          Борис сбросил 5 кг за 2 месяца, просто
          заменив свой обычный корм на Cat
          Energy Slim. Отличный результат без
          изнуряющих тренировок! При этом он не
          менял своих привычек и по-прежнему
          спит по 16 часов в день.
        .example__wrapper-plates-cost
          .example__wrapper-plates
            .example__plate.example-plate
              span.example-plate__number 5 кг
              p.example-plate__desc снижение веса
            .example__plate.example-plate
              span.example-plate__number 60 дней
              p.example-plate__desc затрачено времени
          .example__wrapper-cost
            span.example__cost Затраты на питание:
            span.example__cost 15 000 руб.

      .example__wrapper-before-after.before-after
        img.example__photo.before-after__photo.before-after__photo--fat(src=`${path.images}before-mobile@1x.png` width='320' height='240' alt='Толстый кот')
        img.example__photo.before-after__photo.before-after__photo--thin.before-after__photo--hidden(src=`${path.images}after-mobile@1x.png` width='320' height='240' alt='Худой кот')
        .before-after__wrapper-buttons
          a.before-after__btn(href='#') Было
          .before-after__range
            .before-after__handle
              .before-after__point
          a.before-after__btn(href='#') Стало
