section.example
  .example__right-cat-bg
  .container

    .example__wrapper-desc-slider
      .example__wrapper-desc
        h2.example__title.heading-big Живой пример
        p.example__desc.paragraph.
          Борис сбросил 5 кг за 2 месяца, просто
          заменив свой обычный корм на Cat
          Energy Slim. Отличный результат без
          изнуряющих тренировок! При этом он не
          менял своих привычек и по-прежнему
          спит по 16 часов в день.
        .example__wrapper-plates-cost
          .example__wrapper-plates
            .example__plate.example-plate
              span.example-plate__number 5 кг
              p.example-plate__desc снижение веса
            .example__plate.example-plate
              span.example-plate__number 60 дней
              p.example-plate__desc затрачено времени
          .example__wrapper-cost
            span.example__cost Затраты на питание:
            span.example__cost 15 000 руб.

      .example__wrapper-slider-cats.slider-cats
        .slider-cats__image.slider-cats__image--left
          +picture(
            '',
            'slider-cats__img slider-cats__img--left',
            'before',
            ['png', 'png', 'png'],
            '320', '240',
            'Толстый кот')
        .slider-cats__image.slider-cats__image--right.slider-cats__image--hidden-mobile
          +picture(
            '',
            'slider-cats__img slider-cats__img--right',
            'after',
            ['png', 'png', 'png'],
            '320', '240',
            'Худой кот')
        .slider-cats__wrapper-buttons
          a.slider-cats__btn(href='#') Было
          .slider-cats__range
            .slider-cats__handle
              .slider-cats__point
          a.slider-cats__btn(href='#') Стало
