section.example
  .container
    .example__wrapper
      .example__desc-wrapper
        h2.example__title.heading-big Живой пример
        p.example__desc.paragraph.
          Борис сбросил 5 кг за 2 месяца, просто
          заменив свой обычный корм на Cat
          Energy Slim. Отличный результат без
          изнуряющих тренировок! При этом он не
          менял своих привычек и по-прежнему
          спит по 16 часов в день.
        .example__plates-cost-wrapper
          .example__plates-wrapper
            .example__plate.example-plate
                span.example-plate__number 5 кг
                p.example-plate__desc снижение веса
            .example__plate.example-plate
                span.example-plate__number 60 дней
                p.example-plate__desc затрачено времени
          .example__cost-wrapper
            span.example__cost Затраты на питание:
            span.example__cost 15 000 руб.
      .example__results-wrapper
        img.example__cat-photo.example__cat-photo--fat(src=`${path.images}before-mobile@1x.png` width='320' height='240' alt='Толстый кот')
        img.example__cat-photo.example__cat-photo--thin.example__cat-photo--hidden(src=`${path.images}after-mobile@1x.png` width='320' height='240' alt='Худой кот')
        .example__buttons-wrapper
          a.example__btn(href='#') Было
          .example__switch
            .example__switch-button
          a.example__btn(href='#') Стало
