section.example
  h2.example__title.section-title Живой пример
  p.example__desc.
    Борис сбросил 5 кг за 2 месяца, просто
    заменив свой обычный корм на Cat
    Energy Slim. Отличный результат без
    изнуряющих тренировок! При этом он не
    менял своих привычек и по-прежнему
    спит по 16 часов в день.
