section.howitworks
  h2.howitworks__title.section-title Как это работает
  ul.howitworks__list
    li.howitworks__item
      img.howitworks__icon.howitworks__icon--healthy
      p Функциональное питание содержит только полезные питательные вещества.
    li.howitworks__item
      img.howitworks__icon.howitworks__icon--powder
      p Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
    li.howitworks__item
      img.howitworks__icon.howitworks__icon--eating
      p Замените один-два приема обычной еды на наше функциональное питание.
    li.howitworks__item
      img.howitworks__icon.howitworks__icon--timer
      p Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!
