mixin howitworks-item(modifier, text)
  li.howitworks__item(class=`howitworks__item--${modifier}`)
    p.howitworks__desc.paragraph #{text}

section.howitworks
  .container
    h2.howitworks__title.heading-big Как это работает
    ul.howitworks__list
      +howitworks-item('leaf', 'Функциональное питание содержит только полезные питательные вещества.')
      +howitworks-item('powder', 'Выпускается в виде порошка, который нужно лишь залить кипятком и готово.')
      +howitworks-item('dining', 'Замените один-два приема обычной еды на наше функциональное питание.')
      +howitworks-item('clock', 'Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!')
