mixin product-extra(item)
  li.product-extra
    h3.product-extra__name= item.name
    p.product-extra__quantity= item.quantity
    span.product-extra__price #{item.price} Р.
    +button-type1('Заказать', '#').product-extra__button

section.products-extra
  h2.products-extra__title.heading-middle Дополнительные товары
  ul
    +product-extra({
      name: "Сахарозаменитель",
      quantity: "1 упаковка (100 г)",
      price: 200
      })

    +product-extra({
      name: "Питьевая вода",
      quantity: "5 литров",
      price: 50
      })

    +product-extra({
      name: "Молоко",
      quantity: "1 литр",
      price: 100
      })

    +product-extra({
      name: "Витамины",
      quantity: "1 упаковка (30 г)",
      price: 300
      })

    li.products-extra__buy-all-item
      p.products-extra__buy-all Закажите все и получите чехол для кота в подарок!
