section.tagline
  h2.tagline__title.heading-big.heading-big--light Функциональное питание для котов
  p.tagline__desc Занялся собой? Займись котом!
  img.tagline__img(src=`${path.images}index-can-mobile@1x.png` width='280' height='270' alt='Банка с кормом Cat Energy')
  +button-type1('Подобрать программу', site.form.href).tagline__button
