section.tagline
  .tagline__wrapper-desktop-bg
  .tagline__wrapper-horizontal
    .tagline__wrapper-title-desc
      h2.tagline__title.heading-big Функциональное питание для котов
      p.tagline__desc Занялся собой? Займись котом!
    .tagline__wrapper-img-button
      +picture(
        '',
        'tagline__img',
        'index-can',
        ['png', 'jpg', 'png'],
        '280', '271',
        'Банка с кормом Cat Energy')
      +button-green('Подобрать программу')(href= site.form.href).tagline__button
