mixin button-green(text)
  a.button&attributes(attributes)= text

mixin button-grey(text)
  a.button.button--grey&attributes(attributes)= text

mixin button-order(text)
  a.button.button--order&attributes(attributes)= text
